body,html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background: 
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
		linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
	background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
	background-color: #840b2a;
}

div#clock {
	border:10px solid #d2dade;
	background:#508ef5;
	background:radial-gradient(#fff,#fff 5px, transparent 5px, transparent);
	position:absolute;
}
div#clock span#clock_h, div#clock span#clock_m, div#clock span#clock_s {
	display:block;
	border:0;
	position:absolute;
}
div#clock span#clock_h {
	border-radius:1px;
	background:#fff;
}
div#clock span#clock_m {
	border-radius:1px;
	background:#fff;
}
div#clock span#clock_s {
	border-radius:0px;
	background:#fff;
}
div#clock ol {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	color:#fff;
}
div#clock ol li {
	position:absolute;
	font-weight:bold;
}
div#clock ol li sub {
	font-size:50%;
	opacity:0.75;
}